asgiref==3.8.1
boto3==1.37.4
botocore==1.37.4
dj-database-url==2.3.0
Django==4.2
django-filter==25.1
djangorestframework==3.15.2
factory_boy==3.3.3
Faker==36.1.1
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.9.0
